<h2>Thanks for shopping with us!</h2>
<p>Let's review your order:</p>

<% @order.order_items.each do |key, value| %>
  <ul>
    <li><%= Product.find(key).name %>, <%= value %></li>
  </ul>
<% end %>

<p>
  <strong>Order Total: </strong><%= number_to_currency(@order.grand_total) %>
</p>